{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        {% for quote in quotes %}
            <div class="col-sm-12">
                <div class="card card__beers">
                    <div class="card-body">
                        <h2 class="medium">{{quote['title']}}</h2>
                        {{ quote['content'] | raw }}
                        <p class="card-text"><small class="text-muted">Mise en ligne le {{ quote.created_at | date('d/m/Y') }}</small></p>
                        <a class="btn btn-info" href="{{ path('quote_show', {'id': quote.id}) }}">show</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}