{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Bières {{ category.name }}</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ category.description }}</p>
                {% for beer in beers %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ beer.name }} | {{ beer.degree }}</h5>
                            <p class="card-text">{{ beer.description }}</p>
                            <p class="card-text"><small class="text-muted">Mise en ligne le {{ beer.getPublishedAt()|date('d/m/Y') }}</small></p>
                            <a href="{{ path('beer_page', { 'id' : beer.id }) }}" class="btn btn-primary card-link">Voir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
