{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">{{title}}</h3>
            </div>
            {% for beer in lastBeers %}
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">{{ beer.name }} | {{ beer.degree }}</h5>
                        <p class="card-text">{{ beer.description }}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{ beer.getPublishedAt()|date('Y-m-d') }}</small></p>
                        <a href="{{ path('beer_page', { 'id' : beer.id }) }}" class="btn btn-primary card-link">Card link</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}