{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="col-9">
        <h1>{{title}}</h1>
        <div class="card-group mb-5">
            {% for beer in beers %}
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ beer.name }} | {{ beer.degree }}</h5>
                    <p class="card-text">{{ beer.description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated {{ beer.getPublishedAt()|date('Y-m-d') }}</small></p>
                    <a href="{{ path('beer_page', { 'id' : beer.id }) }}" class="btn btn-primary card-link">Card link</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}